* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.image-container {
  text-align: center;
  position: relative;
}

.top-image {
  width: 100%;
  max-width: 1000px;
  height: auto;
}

h1 {
  /* text-align: center; */
  font-family: "Quattrocento", serif;
  font-size: 4rem;
  color: white;
  position: absolute;
  margin: 0;
  top: 1.2rem;
  width: 100%;
  box-shadow: 2px 4px;
}

.container {
  padding: 0rem 1rem 3rem;
  /* outline: 2px blue dashed; */
  overflow: hidden;
}

.textbox {
  padding: 0.5rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
  /* outline: 2px red dashed; */
}

.boxtop {
  font-size: 1.5rem;
  text-align: center;
}

#instructions {
  /* outline: 2px red dashed; */
  float: left;
  width: 40%;
  font-size: 1.5rem;
}

#quotebox {
  outline: 2px red dashed;
  float: left;
  width: 60%;
  min-height: 100px;
  padding-left: 3em;
  font-size: 1.5rem;
}

#quote {
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  #instructions {
    float: none;
    width: 100%;
  }
  #quotebox {
    float: none;
    width: 100%;
    margin-top: 3rem;
    padding-left: 0;
  }
}

#footer {
  padding: 2rem 2rem;
  text-align: center;
  font-size: 1.2rem;
  background-color: cornflowerblue;
  color: white;
}
